.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40vw;
  /* max-width: 500px; */
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #6e6e6e;

  margin: 0 auto;
}

.label {
  margin-bottom: 5px;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.inputField {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #baff39;
  background-color: #ffffff;
  color: #6e6e6e;
}

.errorMessage {
  color: #ff0000;
}

.submitButton {
  background-color: #baff39;
  border: none;
  color: #6e6e6e;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #a4e633;
}
