.container {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  min-width: 280px;

  border: 2px solid #000;
  border-radius: 8px;
  padding: 5px;
}

.container p {
  font-weight: 500;
}

.contactData {
  display: flex;
  align-items: baseline;
  gap: 3px;
}
