.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #6e6e6e;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.error {
  color: #ff0000;
}

button {
  background-color: #baff39;
  border: none;
  color: #6e6e6e;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a4e633;
}
