.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #d3d3d3;
  /* background-color: #6e6e6e;  */
  color: #6e6e6e;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  color: #baff39;
  margin: 0;
}
